$headerColor: #001529;
$headerHeight: 60px;

$lightNormalTextColor: white;
$lightActiveTextColor: #359eff;

$lightBackgroundColor: #f0f2f5;
$lightBackgroundTextColor: #827e76;
$lightBackgroundInputColor: #188fff28;
$lightBackgroundHoverButtonColor: #1890ff;
$lightBackgroundActiveButtonColor: #359eff;
$lightBorderButtonColor: #1890ff;

$lightBackgroundButtonColor: white;

$darkNormalTextColor: #5e5e5e;
$darkActiveTextColor: black;
$darkActiveLinkColor: #f44647;
$darkPlayerHoverFocusLinkColor: red;

$lightNormalTextColor: #5e5e5e;
$lightActiveLinkColor: #1890ff;
$lightActiveTextColor: #1890ff;
$lightPlayerHoverFocusLinkColor: #1890ff;

$darkBackgroundColor: #1c1b19;
$darkBackgroundInputColor: #5e5e5e;
$darkBackgroundButtonColor: #5e5e5e;
$darkBackgroundHoverButtonColor: #f44647;
$darkBackgroundActiveButtonColor: red;
